/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #131111;
}
h1,
h2,
h3,
h4,
ul,
li,
a,
p,
button,
div,
footer {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: rgb(189, 184, 184);
  padding-top: 30px;
}

.listflix {
  color: rgb(166, 43, 35);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.headings h2 {
  font-size: 50px;
}
.headings h1 {
  color: rgb(166, 43, 35);
  font-size: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
  height: 4rem;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  margin-left: 20px;
}
nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

form h2 {
  font-size: 1.4em;
  font-weight: 900;
  padding-bottom: 20px;
  padding-top: 10px;
}
.form {

  width: 260px;
  height: 400px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: rgb(48, 46, 46);
}

.addForm {
  height: 180px;
  width: 50%;
  margin-bottom: 30px;
  /* background-color: #837d7d; */
  padding: 0 20px;
  border-radius: 20px;
  margin-left: 20px;
  opacity: 0.8;
  border: none;
  
}
form label {
  margin: 2px;
}

.formBtn {
  margin-top: 15px;
  width: 80px;
  height: 35px;

}

form button {
  padding: 8px;
  margin-top: 5px;
  font-size: 8px;
}
input {
  padding: 5px 2px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 0.8em;
  width: 100%;
}
label {
  display: block;
  margin: 10px 0 1px;
}
button {
  margin-top: 30px;
  border-radius: 36px;
  background: #807c7c;
  color: white;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
button:hover {
  background-color: #c79435;
  transition: ease-in 0.05s;
  cursor: pointer;
}
.error {
  color: #aaac33;
  margin: 4px 2px;
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px;
}

span {
  font-size: 12px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  display: flex;
  align-items: center;
}
.likeIcon {
}

header h2 {
  font-size: 3em;
  margin-bottom: 10px;
}
header h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #111;
}
header .btn {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}

.cards {
  display: flex;
  margin: 30px;
  max-width: 400px;
}

.card {
  display: inline-block;
  border-radius: 20px;
  background: rgb(68, 63, 63);
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px;
  width: 400px;
  height: 220px;
}
.card img {
  margin: -100px auto 20px;
  margin-bottom: 0;
  width: 170px;
}

.cardBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
}

footer {
  text-align: center;
  padding-top: 120px;
  color: #aaa;
  position: fixed;
  padding-bottom: 10px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.vectorContainer {
  display: flex;
  align-items: center;
  margin-left: 250px;
  flex-direction: row;
  width: 85%;
}

img {
  width: 600px;
  /* padding-left: 50px; */
}

.hoverBtn:hover {
  border-radius: 36px;
  background: #8a180a;
  color: aliceblue;
}

@media screen and (max-width: 992px) {
  .vectorContainer {
    flex-direction: column;
    width: auto;
   margin-left: 40px;
  }
  .vectorContainer .vector img {
    width: 400px;
    margin-left: auto;
    align-items: center;
  }
}

.sharedCard {
  display: inline-block;
  border-radius: 20px;
  background: rgb(68, 63, 63);
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px;
  width: 400px;
  height: 280px;
}
.sharedCard img {
  margin: -100px auto 20px;
  margin-bottom: 0;
  width: 150px;
}

.socialIcons {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.facebookIcon {
  padding-top: 10px;
  padding-bottom: 10px;
}

.socialText {
  padding-top: 0px;
}

.loginBtn {
  padding-top: 0;
  display: flex;
  justify-content: flex-end;

}

.signup_container, .login_container {
  width: 80%;
display: flex;
}

.signup_form_container, .login_form_container {
  width: 400px;
  margin-left: 50%;
 
}