@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.modalBackground {
  width: 35vw;
  height: 50vh;
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContainer {
  width: 300px;
  height: 400px;
  border-radius: 12px;
  background-color: rgb(34, 30, 30);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 0px;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  overflow-y: scroll;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: rgb(66, 136, 93);
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
  width: 80px;
  height: 40px;
}

#addBtn {
  background-color: rgb(51, 134, 69);
  width: 80px;
  height: 40px;
  margin-right: 5px;
}

.inputBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.modalAddBtn {
  font-size: 10px;
  height: 25px;
  width: 60px;
  margin: 10px;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(113, 139, 113);
}

.modalReadBtn {
  font-size: 10px;
  height: 25px;
  width: 60px;
  margin: 10px;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 187, 126);

}


.modalCloseBtn {
  font-size: 10px;
  height: 25px;
  width: 60px;
  margin: 10px;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 86, 80);
}

.commenter {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  text-transform: uppercase;
  color: coral;
}

.commentContainer {
  overflow-y: scroll;
  margin-top: 150px;
  display: flex;
  flex-direction: column;

}

.modalInput {
  width: 90%;
  height: 30px;
  border: 0;
  background-color: lightgray;
  font-size: large;
  font-weight: bold;
  
}
